<div id='compare-bar' class='compare-bar'>
  <div class='compare-bar-container'>
    <div class='compare-bar-content'>
      <div id='compare-products' class='compare-products-list'>
        <!-- Compare products will be inserted here -->
      </div>
      <div class='compare-actions'>
        <button id='compare-clear' class='compare-clear'>Clear All</button>
        <button id='compare-button' class='compare-button' disabled>Compare (<span id='compare-count'>0</span>)</button>
      </div>
    </div>
  </div>
</div>

<template id='compare-product-template'>
  <div class='compare-product'>
    <div class='compare-product-image-wrapper'>
      <img class='compare-product-image' src='' alt=''>
      <button class='remove-compare'>
        <svg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'>
          <path d="M12 4L4 12M4 4L12 12" stroke="currentColor" stroke-width="2" stroke-linecap="round"/>
        </svg>
      </button>
    </div>
  </div>
</template>
