{% comment %}
  Renders an inline search input for header. Should be used with 'header.liquid'

  Accepts:
  - input_id: {String} Id for the search input element (required)

  Usage:
  {% render 'header-search-input', input_id: 'My-Id'%}
{% endcomment %}

<div class='twcss-relative twcss-flex-1 twcss-mx-5'>
  <form action='{{ routes.search_url }}' method='get' role='search' class='twcss-w-full'>
    <div class='twcss-relative'>
      <!-- Search Input -->
      <input
        class='twcss-w-full twcss-py-2 twcss-pl-4 twcss-pr-12 twcss-rounded-[5px] twcss-border twcss-border-transparent twcss-text-black twcss-bg-white focus:twcss-outline-none focus:twcss-ring-0 focus:twcss-ring-offset-0 [appearance:none] [&::-webkit-search-decoration]:twcss-hidden [&::-webkit-search-cancel-button]:twcss-hidden [&::-webkit-search-results-button]:twcss-hidden [&::-webkit-search-results-decoration]:twcss-hidden'
        id='{{ input_id }}'
        type='search'
        name='q'
        value='{{ search.terms | escape }}'
        placeholder='What can we help you find?'
        {%- if settings.predictive_search_enabled -%}
          role='combobox'
          aria-expanded='false'
          aria-owns='predictive-search-results'
          aria-controls='predictive-search-results'
          aria-haspopup='listbox'
          aria-autocomplete='list'
          autocorrect='off'
          autocomplete='off'
          autocapitalize='off'
          spellcheck='false'
        {%- endif -%}
      >

      <!-- Search Button -->
      <button
        type='submit'
        class='twcss-absolute twcss-right-0 twcss-bg-secondary-default twcss-top-0 twcss-h-full twcss-px-4 twcss-flex twcss-items-center twcss-justify-center twcss-text-white hover:twcss-text-gray-600'
      >
        {{- 'icon-search.svg' | inline_asset_content | replace: '<svg', '<svg class="twcss-w-5 twcss-h-5"' -}}
      </button>
    </div>

    <input type='hidden' name='options[prefix]' value='last'>
  </form>

  {%- if settings.predictive_search_enabled -%}
    <div
      class='twcss-absolute twcss-w-full twcss-mt-1 twcss-bg-white twcss-rounded-md twcss-shadow-lg twcss-hidden'
      id='predictive-search-results'
    >
      <!-- Predictive search results will be inserted here -->
    </div>
  {%- endif -%}
</div>
