{% comment %}
  Renders a standard dropdown style menu for the header.

  Usage:
  {% render 'header-dropdown-menu' %}
{% endcomment %}

{%- assign raw_icons = section.settings.menu_icons | strip -%}
{%- assign cleaned_icons = raw_icons | remove: '\"' | remove: '""' | default: '{}' -%}
{%- assign menu_icons_string = cleaned_icons -%}

<nav class="twcss-relative">
  <ul class="twcss-flex twcss-flex-wrap twcss-items-start twcss-gap-4" role="list">
    {%- for link in section.settings.menu.links -%}
      <li>
        <a href="{{ link.url }}" class="twcss-flex twcss-flex-col twcss-items-center twcss-gap-y-1 twcss-text-white hover:twcss-underline">
          {%- assign icon_key = '"' | append: link.handle | append: '":"' -%}
          {%- if menu_icons_string contains icon_key -%}
            {%- assign icon_part = menu_icons_string | split: icon_key | last -%}
            {%- assign icon_name = icon_part | split: '"' | first -%}
            <span class="twcss-size-4 twcss-block">
              {{ icon_name | inline_asset_content }}
            </span>
          {%- endif -%}
          <span class="twcss-max-w-11 twcss-text-xs twcss-font-bold twcss-leading-[12.5px]">{{ link.title | escape }}</span>
        </a>
      </li>
    {%- endfor -%}
  </ul>
</nav>
