<div class='twcss-relative'>
  <button
    onclick="this.querySelector('.caret-icon').classList.toggle('twcss-rotate-180'); this.nextElementSibling.classList.toggle('twcss-hidden')"
    class='twcss-flex twcss-flex-col twcss-text-sm hover:twcss-bg-primary-light twcss-rounded-md twcss-text-white twcss-w-fit'
  >
    <p>Delivery to</p>
    <div class='twcss-flex twcss-items-center twcss-gap-x-1 twcss-text-secondary-light'>
      <div class='twcss-overflow-hidden' style='max-width: min(200px, calc(50vw - 50px));'>
        <p class='twcss-truncate twcss-m-0'>
          {% if customer.default_address %}
            {{ customer.default_address.city }}
          {% else %}
            1801 Century Park E, Suite 1470
          {% endif %}
        </p>
      </div>
      <span class='caret-icon twcss-transition-transform twcss-duration-200 twcss-w-4 twcss-flex-shrink-0'>
        {{ 'icon-caret.svg' | inline_asset_content }}
      </span>
    </div>
  </button>

  <div class='twcss-hidden twcss-absolute twcss-left-0 twcss-mt-2 twcss-w-72 twcss-bg-white twcss-rounded-md twcss-shadow-lg twcss-ring-1 twcss-ring-black twcss-ring-opacity-5 twcss-z-50'>
    <div class='twcss-p-4'>address list</div>
  </div>
</div>
