<div class='disclosure'>
  <button
    type='button'
    class='disclosure__button localization-form__select localization-selector link link--text caption-large'
    aria-expanded='false'
    aria-controls='address-list'
  >
    <p>Delivery to</p>
    <div class='twcss-flex twcss-items-center twcss-gap-x-1 twcss-text-secondary-light'>
      <span class='max-w-[176px]'>
        {% if customer.default_address %}
          {{ customer.default_address.city }}
        {% else %}
          1801 Century Park E, Suite 1470...
        {% endif %}
      </span>
      <span class='caret-down-icon twcss-transition-transform twcss-duration-200 twcss-w-6'>
        {{ 'icon-caret.svg' | inline_asset_content }}
      </span>
    </div>
  </button>

  <div class='disclosure__list-wrapper' hidden>
    <div class='twcss-p-4'>address list</div>
  </div>
</div>

<style>
  .disclosure__button[aria-expanded='true'] .caret-down-icon {
    transform: rotate(180deg);
  }
</style>
