{% comment %} {%- liquid
  assign is_show_sortby = is_show_sortby
  assign is_show_display = is_show_display
-%}

<facet-filters-form class="">
  <form
    class="twcss-flex twcss-justify-between twcss-items-center twcss-h-[60px] twcss-bg-gray-50 rounded-[5px] twcss-px-5 twcss-py-2 twcss-max-w-[1280px] twcss-mx-auto"
    id="FacetSortForm"
  >
    {%- assign sort_by = collection.sort_by | default: collection.default_sort_by -%}

    <!-- Left Section -->
    <div class="twcss-flex twcss-items-center twcss-gap-4">
      {% if is_show_sortby %}
        <div class="twcss-flex twcss-items-center twcss-gap-[10px]">
          <span class="twcss-text-[14px]">Sorted By:</span>
          <div class="twcss-relative">
            <select
              name="sort_by"
              class="twcss-appearance-none twcss-text-[14px] twcss-h-11 twcss-bg-white twcss-border twcss-border-gray-300 twcss-rounded twcss-py-1 twcss-pl-3 twcss-pr-8 twcss-cursor-pointer focus:twcss-outline-none"
              id="SortBy"
              aria-describedby="a11y-refresh-page-message"
            >
              {%- for option in collection.sort_options -%}
                <option
                  class="twcss-text-[14px]"
                  value="{{ option.value | escape }}"
                  {% if option.value == sort_by %}
                    selected="selected"
                  {% endif %}
                >
                  {{ option.name | escape }}
                </option>
              {%- endfor -%}
            </select>
            <div class="twcss-pointer-events-none twcss-absolute twcss-inset-y-0 twcss-right-0 twcss-flex twcss-items-center twcss-px-2">
              <svg
                class="twcss-h-4 twcss-w-4 twcss-text-gray-400"
                fill="none"
                stroke="currentColor"
                viewBox="0 0 24 24"
              >
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
              </svg>
            </div>
          </div>
        </div>
      {% endif %}
      <div class="twcss-text-[14px]">{{ collection.products_count }} total records</div>
    </div>

    <!-- Middle Section -->
    {% render 'pagination', paginate: paginate %}

    <!-- Right Section -->
    <div class="twcss-flex twcss-items-center twcss-gap-4">
      <div class="twcss-flex twcss-items-center twcss-gap-[10px]">
        <span class="twcss-text-gray-600 twcss-text-[14px]">Per page:</span>
        <div class="twcss-relative">
          <select
            name="page_size"
            class="twcss-appearance-none twcss-text-[14px] twcss-h-11 twcss-bg-white twcss-border twcss-border-gray-300 twcss-rounded twcss-py-1 twcss-pl-3 twcss-pr-8 twcss-cursor-pointer focus:twcss-outline-none"
          >
            <option value="12" selected>12</option>
            <option value="24">24</option>
            <option value="48">48</option>
          </select>
          <div class="twcss-pointer-events-none twcss-absolute twcss-inset-y-0 twcss-right-0 twcss-flex twcss-items-center twcss-px-2">
            <svg class="twcss-h-4 twcss-w-4 twcss-text-gray-400" fill="none" stroke="currentColor" viewBox="0 0 24 24">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
            </svg>
          </div>
        </div>
      </div>

      {% if is_show_display %}
        <div class="twcss-flex twcss-items-center twcss-gap-[10px]">
          <span class="twcss-text-gray-600 twcss-text-[14px]">Display:</span>
          <div class="twcss-flex twcss-gap-[10px]">
            <button
              type="button"
              class="twcss-p-[11px] twcss-text-gray-600 twcss-h-11 twcss-border twcss-border-gray-300 twcss-rounded hover:twcss-bg-gray-50"
              data-view="list"
            >
              {% render 'icon-list-view' %}
            </button>
            <button
              type="button"
              class="twcss-p-[11px] twcss-text-blue-600 twcss-h-11 twcss-border twcss-border-blue-600 twcss-rounded twcss-bg-blue-50"
              data-view="grid"
            >
              {% render 'icon-grid-view' %}
            </button>
          </div>
        </div>
      {% endif %}
    </div>
  </form>
</facet-filters-form>
 {% endcomment %}