{{ 'component-slideshow.css' | asset_url | stylesheet_tag }}
{{ 'component-slider.css' | asset_url | stylesheet_tag }}

<div
  class='utility-bar color-{{ section.settings.color_scheme }} gradient{% if section.settings.show_line_separator %} utility-bar--bottom-border{% endif %}'
  {{ block.shopify_attributes }}
>
  <div class='page-width utility-bar__grid'>
    {%- for block in section.blocks -%}
      {%- case block.type -%}
        {%- when 'menu' -%}
          {% if block.settings.menu != blank %}
            {%- if block.settings.menu_type == 'dropdown' -%}
              {% render 'header-dropdown-menu', menu: block.settings.menu, menu_icons: block.settings.menu_icons %}
            {%- elsif block.settings.menu_type == 'mega' -%}
              {% render 'header-mega-menu', menu: block.settings.menu, menu_icons: block.settings.menu_icons %}
            {%- endif -%}
          {% endif %}
      {%- endcase -%}
    {%- endfor -%}
  </div>
</div>

{% schema %}
{
  "name": "t:sections.announcement-bar.name",
  "max_blocks": 12,
  "class": "announcement-bar-section",
  "enabled_on": {
    "groups": ["header"]
  },
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-4"
    },
    {
      "type": "checkbox",
      "id": "show_line_separator",
      "default": true,
      "label": "t:sections.header.settings.show_line_separator.label"
    }
  ],
  "blocks": [
    {
      "type": "menu",
      "name": "Menu",
      "settings": [
        {
          "type": "link_list",
          "id": "menu",
          "label": "Select Menu",
          "default": "main-menu"
        },
        {
          "type": "text",
          "id": "menu_icons",
          "label": "Menu Icons (JSON)",
          "info": "Add menu icons in JSON format. Example: {\"menu-item-handle\":\"icon-name.svg\"}"
        },
        {
          "type": "select",
          "id": "menu_type",
          "options": [
            {
              "value": "dropdown",
              "label": "Dropdown"
            },
            {
              "value": "mega",
              "label": "Mega Menu"
            },
            {
              "value": "drawer",
              "label": "Drawer"
            }
          ],
          "default": "dropdown",
          "label": "Menu Type",
          "info": "Choose how the menu should be displayed"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.announcement-bar.presets.name"
    }
  ]
}
{% endschema %}
