<section class="twcss-w-[var(--page-width)] md:twcss-max-w-7xl twcss-max-w-screen-sm twcss-mx-auto twcss-px-4 twcss-py-10">
  <div class="twcss-relative twcss-max-w-sm md:twcss-max-w-full">
    {% render 'homepage-title',
      white_title: 'Featured',
      blue_title: 'Products',
      link_url: '/collections/all',
      link_text: 'See all'
    %}

    <div class="twcss-relative ">
      <div
        id="featured-products-slider-prev"
        class='swiper-button-prev !twcss-bg-white !twcss-w-10 !twcss-h-10 twcss-rounded-full twcss-shadow-lg  !twcss-hidden md:!twcss-flex !twcss-text-black after:!twcss-content-[""]  !twcss-left-[-1rem]'
      >
        {% render 'icon-chevron-left' %}
      </div>
      <div
        id="featured-products-slider-next"
        class='swiper-button-next !twcss-bg-white !twcss-w-10 !twcss-h-10 twcss-rounded-full twcss-shadow-lg  !twcss-hidden md:!twcss-flex !twcss-text-black after:!twcss-content-[""]  !twcss-right-[-1rem]'
      >
        {% render 'icon-chevron-right' %}
      </div>
      {%- if section.settings.collection != blank -%}
        <div id="featured-products-slider" class="swiper featured-products-slider twcss-relative  twcss-h-full">
          <div class="swiper-wrapper">
            {%- for product in section.settings.collection.products limit: 15 -%}
              <div class="swiper-slide !twcss-h-auto">
                {% render 'product-card', product: product, show_vendor: true, show_new_tag: true %}
              </div>
            {%- endfor -%}
          </div>

          <div class="swiper-pagination !twcss-relative twcss-mt-4"></div>
        </div>
      {%- endif -%}
    </div>
  </div>
</section>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    new Swiper('#featured-products-slider', {
      slidesPerView: 1,
      spaceBetween: 16,
      pagination: {
        el: '.swiper-pagination',
        clickable: true,
      },
      navigation: {
        nextEl: '#featured-products-slider-next',
        prevEl: '#featured-products-slider-prev',
      },
      breakpoints: {
        // >= 768px
        768: {
          slidesPerView: 3,
          spaceBetween: 24,
        },
        // >= 1024px
        1024: {
          slidesPerView: 4,
          spaceBetween: 24,
        },
        // >= 1280px
        1280: {
          slidesPerView: 5,
          spaceBetween: 24,
        },
      },
    });
  });
</script>

{% schema %}
{
  "name": "Featured Products",
  "settings": [
    {
      "type": "text",
      "id": "white_title",
      "label": "White Title",
      "default": "Featured"
    },
    {
      "type": "text",
      "id": "blue_title",
      "label": "Blue Title",
      "default": "Products"
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "Collection"
    },
    {
      "type": "range",
      "id": "products_to_show",
      "min": 4,
      "max": 12,
      "step": 1,
      "default": 8,
      "label": "Maximum products to show"
    }
  ],
  "presets": [
    {
      "name": "Featured Products",
      "category": "Products"
    }
  ]
}
{% endschema %}
